body{
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    background-color: #ecf2f8;
    box-sizing: border-box;
    font-weight: 500;
    margin: 4rem auto;
    padding: 20px;
}
.creater {
    text-align: center;
    margin: 2em auto;
}
p,h3,h2{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.box{
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
#img{
    display: flex; 
    align-items: center;
    margin-bottom: 20px;
}
img{
    border-radius: 50%;
    margin-right: 20px;
    height : 2pc;  
}
.name{
    font-size: 14px;
    margin : 0px;
    font-weight: 500;
}
.verified{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    opacity: 60%;
}
.quote{
    margin-top: 20px;
    opacity: 60%;
    font-size: 13px;
    font-weight: 500;
}
.heighlight{
    font-weight: 600;
}

#person1{
    background-color: 	#7541c8;
    color: #ffff;
}

#person2{
    background-color: #48556a;
    color: #ffff;
}

#person3{
    background-color: #ffff;
}

#person4{
    background-color: #19212e;
    color: #ffff;
}

#person5{
    background-color: #ffff;
}


/* Tablet Design */
@media (min-width: 720px) { 
    .template{
        max-width: 780px;
        margin: 0 auto;
    }
    .leftTop{
        display: flex;
    }
    .leftDown{
        display: flex;
    }
    #person1,#person3{
        margin-right: 25px;
    }
}

/* Desktop design */
@media (min-width: 950px) {
    .box{
        margin: 0;
    }
    .template{  
        max-width: 1000px;        
        padding: 20px;   
        display: flex;  
        margin: 0px auto;  
    } 
    .leftTemplate{
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
    }  
    .rightTemplate{
        flex-basis: 20%;
        height: min-content;
    }    
    .leftTop{
        display: flex;
        flex-basis: 50%;
    }
    .leftDown{
        display: flex;
        flex-basis: 50%;        
    } 
     
    .leftTemplate .box{
        margin-right: 25px;
    }
    .leftTop{
        margin-bottom: 25px;
    }
   
}
